.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  width: 100%;
  height: 300px;
}
.col1,
.col2,
.col3 {
  flex-grow: 1;
}
.col1 {
  display: flex;
  justify-content: flex-end;
}
.col2 {
  display: flex;
  justify-content: center;
}
.col2_box {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 65%;
}
.col3 {
  display: flex;
  justify-content: flex-start;
}
.header p {
  font-size: 18px;
  color: #ffd366;
}
.header .textcm,
.header .textkg {
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #ffd366;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  margin: 2% 0%;
}

.btnClass {
  background: #ffd366;
  width: 120px;
  height: 120px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  color: #424242;
}
.btnBMI {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid;
  background: transparent;
  cursor: pointer;
}
.bnitxtBox {
  position: absolute;
  width: 170px;
  height: 120px;
  font-size: 40px;
  right: 15%;
}
.bmiresult {
  width: 100%;
  text-align: center;
  font-size: 45px;
}
.bmiUnit {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.bmiBox {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: 100%;
}
.bmitxt {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 152, 45);
}
.txt {
  width: 10%;
}
.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid #424242;
  width: 30px;
  height: 30px;
}
body {
  display: flex;
  flex-flow: row wrap;
  background: #f6f6f6;
  font-family: "Noto Sans TC", 微軟正黑體, Arial, 新細明體, sans-serif !important;
}
.main {
  width: 100%;
  min-height: 560px;
}
.title {
  width: 100%;
  line-height: 75px;
  text-align: center;
  font-size: 24px;
  color: #424242;
}
.list {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  width: 100%;
}
.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  width: 100%;
  height: 40px;
}
.Li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  width: 58%;
  height: 100%;
  font-size: 20px;
}
.Li a {
  text-decoration: none;
  color: red;
}
.bmi,
.kg,
.cm {
  display: flex;
  justify-content: center;
  width: 18%;
}
.bmi p,
.kg p,
.cm p {
  font-size: 10px;
}
.color {
  position: absolute;
  height: 100%;
  width: 6px;
  left: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd366;
  width: 100%;
  height: 90px;
  bottom: 0;
}
